@font-face {
    font-family: "Neucha";
    src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Bold.ttf");
}


:root {
    --White: #FFF;
    --White-50: #D7CCC0;
    --Light: #F5F4F0;
    --Primary: #FE8A02;
    --Primary-hover: #EA7600;
    --Dark: #2A2626;
    --Dark-50: #908D8B;
    --Brown: #B09A81;
    --Primary-Dark: #42413C;
    --blue: #1085c5;
}

body {
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;
    line-height: 1.6;

    font-family: "OpenSans", sans-serif;
}


h1,h2,h3 {
    font-family: "Neucha", cursive;
    font-weight: normal;

    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-size: 72px;
}

p {
    margin-top: 0;
}

.header::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--White-50);
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    z-index: -1;
}

.header-container {
    position: relative;
}

.header-container > h1 {
    margin-bottom: 185px;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.title-img {
    position: absolute;

    height: 525px;
    top: 55px;
    right: -270px;
}

.description {
    column-count: 2;
    column-gap: 30px;
}

.description > p:nth-child(2) {
    break-before: column;
}

.btn {
    margin-top: 34px;
    display: inline-block;
    border: none;

    padding: 12px 24px;
    font-family: OpenSans,sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    color: var(--White);
}

.btn:hover {
    background-color: var(--Primary-hover);

}

.bg-orange {
    background-color: var(--Primary);
}

.color-primary {
    color: var(--Primary);
}










