@font-face {
    font-family: "Neucha";
    src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Bold.ttf");
}


:root {
    --White: #FFF;
    --White-50: #D7CCC0;
    --Light: #F5F4F0;
    --Primary: #FE8A02;
    --Primary-hover: #EA7600;
    --Dark: #2A2626;
    --Dark-50: #908D8B;
    --Brown: #B09A81;
    --Primary-Dark: #42413C;
    --blue: #1085c5;
}

body {
    margin: 0;
    box-sizing: border-box;

    font-size: 16px;
    line-height: 1.6;

    font-family: "OpenSans", sans-serif;
}


h1, h2, h3 {
    font-family: "Neucha", cursive;
    font-weight: 400;

    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-size: 72px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
}


p {
    margin-top: 0;
}

.container {
    position: relative;

    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
}

.bg-light {
    background-color: var(--Light);
    color: var(--Dark);
}

.bg-brown {
    background-color: var(--Brown);
    color: var(--White);
}

.bg-white {
    background-color: var(--White);
    color: var(--Brown);
}

.bg-dark {
    background-color: var(--Primary-Dark);
    color: var(--White);
}

.main-bg {
    position: relative;
    z-index: -1;
}

.main-bg::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.header-title {
    position: relative;
    margin-bottom: 185px;
    z-index: 1;
}

.header-title-img {
    position: absolute;
    top: 55px;
    right: -270px;

    height: 525px;
}


.video-container {
    text-align: center;
    position: relative;

}

.video-title {
    display: block;
    margin-bottom: 399px;
}

.video {
    position: absolute;
    bottom: -100px;
    left: 95px;

    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigate {
    padding-top: 100px;
    background-color: var(--Dark);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--Primary-Dark);
}

.nav-card {
    width: 350px;
}

.nav-card-title {
    color: var(--White);
    font-family: Neucha, cursive;
    font-size: 52px;
    line-height: 1.2;

    margin-bottom: 20px;
}

.nav-card-ref {
    display: block;
    padding: 24px;
    background-color: var(--Light);
    color: inherit;
    text-decoration: none;
}

.nav-card-ref:hover {
    background-color: var(--Primary);
    color: var(--White);
}

.nav-card-ref:hover h3 {
    color: var(--White);
}

.ref-num {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 40px;
}

.ref-title {
    color: var(--Primary);
    margin-bottom: 16px;
}

.bias-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.bias-header-title {
    font-family: Neucha, cursive;
    line-height: 1.2;
}

.title-24 {
    font-size: 24px;
    margin: 0;
}

.bias-title {
    margin-bottom: 30px;
}

.bias-subtitle {
    font-size: 34px;
}

.description-title {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    padding: 5px 10px;
    margin-bottom: 20px;
}

.unordered {
    order: 1;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 190px;
    padding:0 55px;
    margin-bottom: 75px;
}

.subscribe > h3 {
    flex-grow: 1;
}

.flex-form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    flex-grow: 1;
}

.label {
    margin-bottom: 10px;
    font-size: 18px;
}

.form > input {
    box-sizing: border-box;
    width: calc(100% - 70px);
    height: 50px;
    padding: 15px;

    border: 0;
}

.form > input::placeholder {
    opacity: 0.2;
    font-size: 13px;
    color: #757575;
}

.form > input:focus {
    outline: none;
}

.btn-send {
    position: absolute;

    width: 70px;
    height: 50px;
    padding: 0;

    border: none;
    background-color: var(--Primary);
}

.btn-send::before {
    content: url("../assets/images/send.svg");
    display: block;

    text-align: center;
}

.btn-send:hover {
    background-color: var(--Primary-hover);
    cursor: pointer;
}

.service-rule {
    font-size: 12px;
}
.service-rule > a {
    color: inherit;
}

.sign {
    text-align: center;
    font-size: 14px;
}

.sign > a {
    color: #1085C5;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.bg-brown {
    background-color: var(--Brown);
}

.bg-orange {
    background-color: var(--Primary);
}

.description {
    column-count: 2;
    column-gap: 30px;
}

.description > p:nth-child(2) {
    break-before: column;
}

.description > p:last-child {
    margin-bottom: 0;
}

.white-50 {
    color: var(--White-50);
}

.dark-50 {
    color: var(--Dark-50);
}

.color-white {
    color: var(--White);
}

.color-primary {
    color: var(--Primary);
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    color: white;

    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--Primary-hover);
}
.mgb-40 {
    margin-bottom: 40px;
}

.mgl-30 {
    margin-left: 30px;
}

.mgb-30 {
    margin-bottom: 30px;
}












